[submodule "software/imu_broadcaster"]
	path = software/imu_broadcaster
	url = git@github.com:MZandtheRaspberryPi/imu_broadcaster.git
[submodule "software/imu_filter_cpp"]
	path = software/imu_filter_cpp
	url = git@github.com:MZandtheRaspberryPi/imu_filter_cpp.git
[submodule "software/imu_visualizer"]
	path = software/imu_visualizer
	url = git@github.com:MZandtheRaspberryPi/imu_visualizer.git
[submodule "maths/imu_filter"]
	path = maths/imu_filter
	url = git@github.com:MZandtheRaspberryPi/imu_filter.git
